---
layout: base.njk
title: Earth Song Farm
---
<div class="hero min-h-screen" style="background-image: url(img/hero-1.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-3xl">
      <div class="flex flex-col md:flex-row items-center">
        <img class="h-96 m-auto" src="/img/logo-white.png" alt="Earth Song Farm logo" />
        <div>
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Welcome to Earth Song Farm, a cut flower farm in Verona, Kentucky! Contact us for beautiful bouquets and flower arrangements for custom gifts, parties, or simply to add a special touch of joy to your dining table. We also love to supply flower shops with locally grown dahlias, cosmos, zinnias, and more! Reach out to discuss all the options!</p>
          <div class="flex flex-row justify-center gap-4">
            <a href="https://www.instagram.com/earthsong_farm/" class="btn btn-primary">Instagram</a>
            <a href="mailto:earthsongfarm2022@gmail.com" class="btn btn-primary">Email</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-primary">
  <div class="hero-content flex-col lg:flex-row max-w-3xl">
    <img src="img/danielle.jpeg" class="max-w-xs md:max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">About me</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
    </div>
  </div>
</div>