---
layout: base.njk
title: Home
---
<div class="hero min-h-screen" style="background-image: url(img/hero.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-3xl">
      <div class="flex flex-row items-center">
        <img class="h-96 m-auto" src="/img/logo-white.png" alt="Earth Song Farm logo" />
        <div>
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          <a href="https://www.instagram.com/earthsong_farm/" class="btn btn-primary">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</div>